#board {
  width: 400px;
  height: 400px; 
  display: grid;
  grid-template: subgrid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "board board board"
    "board board board"
    "board board board";
  /* grid-template: repeat(3, 1fr) / repeat(3, 1fr); */
  
}

[data-cell] {
  width: 133.33px;
  height: 133.33px;
  box-sizing: border-box;
  display: flex;
  background-color: #f2f2f2;
  border: 1px solid #808080;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

#announce-winner {
  grid-area: winner;
  font-size: 50px;
}

#clear {
  grid-area: clear;
  height: 400px;
  float: left;
}


/* .fas,.far {
  display:none;
} */

.total {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: 
    "board clear"
    "winner winner";
}
.overall{
  position:absolute;
  padding: 100px 100px 200px 500px;
  float: left;
}
@media screen and (min-width:100px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.button{
  margin: 0px 0px 50px 20px;
  width: 350px;
  height: 30px;
  
}
.hexagon {
  width: 101.7px;
  height: 56px;
  background: #32557f;
  position: relative;
  border-radius: 20px;

}

.triangle .triangle-left {
  border-top: 50px solid transparent;
  border-right: 100px solid #32557f;
  border-bottom: 50px solid transparent;
}
.triangle .triangle-right {
  border-top: 50px solid transparent;
  border-left: 100px solid #32557f;
  border-bottom: 50px solid transparent;
}